<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>homebrew.mxcl.spotifyd</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>Background</string>
		<string>LoginWindow</string>
		<string>StandardIO</string>
		<string>System</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/opt/spotifyd/bin/spotifyd</string>
		<string>--no-daemon</string>
		<string>--backend</string>
		<string>portaudio</string>
		<string>--on-song-change-hook</string>
		<string>~/dotfiles/scripts/spt_status.sh --update</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
